
<nav>
  <%= link_to 'Log In', login_path %>
  <%= link_to 'Register', new_user_path %>
</nav>
<h1>Welcome to the Party!</h1>

<p>Viewing party is an application that lets you schedule virtual movie watch parties with your friends.</p>
