<h1>Results</h1>

<table class="table table-striped">
  <table class="table table-striped navbar-custom">
  <thead class="custom" text-align="center" align="center">
    <tr>
      <th  colspan="4" style="font-family: Quicksand;">Search Results</th>
    </tr>
  </thead >
  <tbody id="top-movies">
    <tr id="movie-table-headers">
      <th>Result</th>
      <th>Title</th>
    </tr>
    <% @movie_search_results.each_with_index do |m, idx| %>

        <td><%= "#{idx + 1}" %></td>
        <td><%= link_to m.name, movie_path(m.id), method: :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>