
<table class="table table-striped white_text">
  <table class="table table-striped navbar-custom white_text">
  <thead class="custom white_text" text-align="center" align="center">
    <tr>
      <th  colspan="4" style="font-family: Quicksand;" class="white_text">Top 40 Movies</th>
    </tr>
  </thead >
  <tbody id="top-movies">
    <tr id="movie-table-headers">
      <th class="white_text">Poster</th>
      <th class="white_text">Rank</th>
      <th class="white_text">Title</th>
      <th class="white_text">Average Vote</th>
    </tr>
    <% @top_movies.each_with_index do |m, idx| %>
        <td>
          <% unless m.poster.nil? %>
            <%= image_tag m.render_image, class: "img-thumbnail" %>
          <% end %>
        </td>
        <td class="white_text"><%= "#{idx + 1}" %></td>
        <td class="white_text"><%= link_to m.title, movie_path(m.id), method: :get%></td>
        <td class="white_text"><%= m.vote_average %></td>
      </tr>
    <% end %>
  </tbody>
</table>

